.container {
	display: grid;
	grid-template-rows:
		3rem [header-start] 5rem [header-end main-start] calc(100vh - 11rem)
		[main-end] 3rem;
	grid-template-columns:
		[full-start] minmax(6rem, 1fr)
		[center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
		[center-end] minmax(6rem, 1fr) [full-end];
}

.header {
	grid-row: header-start / header-end;
	grid-column: center-start / center-end;
}

.main {
	grid-row: main-start / main-end;
	grid-column: center-start / center-end;
}
